.container {
  width: 100%;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Section */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  margin-bottom: 72px;
  color: var(--secondary-color-text);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.section .list-title {
  color: var(--secondary-color-text);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Header */
.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--alt-color);
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu-link {
  color: var(--secondary-color-text);
}

.mobile-list {
  text-transform: capitalize;
}

.mobile-list,
.mobile-contact-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-contact-list {
  margin-top: auto;
  margin-bottom: 48px;
}

.mobile-contact-link {
  color: var(--alt-secondary-color-text);
}

.email .mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color-text);
}
.mobile-menu-link,
.mobile-contact-link {
  text-decoration: none;
}

.mobile-social-list {
  display: flex;
  justify-content: start;
  gap: 56px;
}

.mobile-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2e2f42;
  background-color: var(--secondary-color-btn);

  transition: fill var(--transition-dur-tfunc),
    background-color var(--transition-dur-tfunc);
}

.mobile-close:active,
.mobile-close:hover {
  background-color: var(--alt-secondary-color-btn);
}

.mobile-icon-close {
  transition: fill var(--transition-dur-tfunc);
}

.mobile-close:active .mobile-icon-close,
.mobile-close:hover .mobile-icon-close {
  fill: var(--alt-color);
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.mobile-open {
  position: absolute;
  top: 24px;
  right: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-icon-open {
  stroke: currentColor;
  transition: stroke var(--transition-dur-tfunc);
}

.mobile-open:hover .mobile-icon-open,
.mobile-open:focus .mobile-icon-open {
  stroke: var(--alt-secondary-color-btn);
}

.curr-page {
  color: var(--alt-secondary-color-btn);
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 22px;
  color: var(--alt-secondary-color-text);

  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo .color {
  color: var(--secondary-color-text);
}
.nav .link {
  display: flex;
  transition: color var(--transition-dur-tfunc);
}

.nav .link:hover,
.contact .link:hover,
.nav .link:focus,
.contact .link:focus {
  color: var(--alt-secondary-color-btn);
}

/* Hero */
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/hero-bg-mobile.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/hero-bg-mobile@2x.jpeg);
  }
}

.hero-title {
  max-width: 320px;
  color: var(--alt-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.hero .btn {
  display: block;
  min-width: 169px;

  padding: 16px 32px;
  border: 0;
  border-radius: 4px;

  margin-top: 72px;
  color: var(--alt-color);
  background-color: var(--alt-secondary-color-text);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color var(--transition-dur-tfunc);
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--alt-secondary-color-btn);
}

/* Activity */
.activity .list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.activity .item-text {
  width: 100%;
  text-align: left;
}

.activity .item-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.icon-container {
  display: none;
}

/* Products */
.products.section {
  display: none;
}

/* Team */
.team {
  background-color: var(--third-color-text);
}

.team .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.team-personal {
  background-color: var(--alt-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-personal .list-title {
  margin-bottom: 8px;
}

.data {
  padding: 32px 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.prof {
  font-size: 16px;
}

.social {
  margin-top: 8px;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-links {
  display: flex;
  background-color: var(--alt-secondary-color-text);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--transition-dur-tfunc);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--alt-secondary-color-btn);
}

.social-icon {
  fill: var(--third-color-text);
}

/* Customers */
.customers .section-title {
  line-height: 1.11;
}

.customers .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.customers-item {
  flex-basis: calc((100% - 24px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-logo-icon-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--main-logo-icon-color);

  transition: border var(--transition-dur-tfunc),
    color var(--transition-dur-tfunc);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--secondary-logo-icon-color);
  border: 1px solid var(--secondary-logo-icon-color);
}

/* Footer */
.footer {
  display: flex;
  padding: 96px 0;
  background-color: var(--secondary-color-text);
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--alt-secondary-color-text);
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .color {
  color: var(--third-color-text);
}
.footer .text {
  width: 268px;
  color: var(--third-color-text);
  text-align: left;
}

.social-media {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--alt-color);

  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  background-color: var(--alt-secondary-color-text);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color var(--transition-dur-tfunc);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--secondary-social-icon-color);
}

.footer-social-icon {
  fill: var(--third-color-text);
}

.container-footer-subscribe {
  width: 100%;
}

.form-footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.footer-input-item {
  display: block;
  width: 100%;
}

.footer-subscribe {
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--alt-color);

  margin-bottom: 16px;
}

.footer-input {
  display: block;
  width: 100%;
  padding: 8px 16px 8px 16px;

  color: var(--alt-color);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  opacity: 0.6;

  transition: border var(--transition-dur-tfunc);
}

.footer-input:focus,
.footer-input:hover {
  border: 1px solid var(--alt-secondary-color-text);
}

.footer-input::placeholder {
  color: var(--alt-color);
  font-weight: 400;
  font-size: 12px;
  line-height: (24 / 12);
  letter-spacing: 0.04em;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px 8px 24px;
  border: none;
  border-radius: 4px;
  color: var(--alt-color);
  background-color: var(--alt-secondary-color-text);

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color var(--transition-dur-tfunc);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--alt-secondary-color-btn);
}

.footer-subscribe-icon {
  fill: var(--alt-color);
  margin-left: 16px;
}

/* Modal */
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transform: scale(1);
  transition: opacity var(--transition-dur-tfunc),
    transform var(--transition-dur-tfunc),
    visibility var(--transition-dur-tfunc);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
}

.modal {
  position: absolute;
  width: 100%;
  min-width: 320px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--modal-bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-dur-tfunc);
}

.overlay.is-hidden .modal {
  transform: translate(0);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;

  background-color: var(--secondary-color-btn);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill var(--transition-dur-tfunc),
    background-color var(--transition-dur-tfunc);
}

.modal-close-btn:active,
.modal-close-btn:hover {
  background-color: var(--alt-secondary-color-btn);
}

.close-btn {
  width: 8px;
  height: 8px;

  transition: fill var(--transition-dur-tfunc);
}

.modal-close-btn:active .close-btn,
.modal-close-btn:hover .close-btn {
  fill: var(--alt-color);
}

.modal-toptext {
  min-width: 320px;
  width: 100%;
  margin-top: 72px;
  text-align: center;

  font-weight: 500;
  color: var(--secondary-color-text);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 24px;
}

.modal-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--main-logo-icon-color);
}

.modal-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--secondary-color-text);

  transition: fill var(--transition-dur-tfunc);
}

.modal-input:hover + .form-icon,
.modal-input:focus + .form-icon {
  fill: var(--alt-secondary-color-text);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  /* font-size: 16px; */

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: solid transparent;
  transition: border var(--transition-dur-tfunc);
}

.modal-comment {
  height: 120px;
  resize: none;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-left: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: solid transparent;
  transition: border var(--transition-dur-tfunc);
}

.modal-input:focus,
.modal-comment:focus,
.modal-input:hover,
.modal-comment:hover {
  border: 1px solid var(--alt-secondary-color-text);
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  /* identical to box height, or 117% */
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.privacy-box {
  display: flex;
  align-items: center;
}

.modal-privacy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  margin-left: 8px;

  color: var(--main-logo-icon-color);
}

.modal-privacy::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 8px;

  cursor: pointer;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color var(--transition-dur-tfunc),
    background-image var(--transition-dur-tfunc);
}

.modal-checkbox:focus + .modal-privacy::before {
  outline: 1px solid var(--alt-secondary-color-text);
}

.modal-checkbox:checked + .modal-privacy::before {
  background-color: var(--alt-secondary-color-text);
  background-image: url(../images/checked.svg);
  outline: 1px solid transparent;
}

.form-send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 169px;
  padding: 16px 32px;
  margin: 24px auto 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: var(--alt-color);
  background-color: var(--alt-secondary-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.04em;

  transition: background-color var(--transition-dur-tfunc);
}

.form-send-btn:hover,
.form-send-btn:focus {
  background-color: var(--alt-secondary-color-btn);
}

/* Portfolio */
/* Filter */
.prj .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.filter-list {
  gap: 24px;
}

.filter {
  padding: 12px 24px;
  color: var(--alt-secondary-color-text);
  background-color: var(--third-color-text);
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  border: 1px solid var(--secondary-color-btn);
  border-radius: 4px;

  transition: color var(--transition-dur-tfunc),
    background-color var(--transition-dur-tfunc),
    box-shadow var(--transition-dur-tfunc), border var(--transition-dur-tfunc);
}

.filter:hover,
.filter:focus {
  color: var(--alt-color);
  background-color: var(--alt-secondary-color-btn);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */
.list.projects {
  margin-top: 48px;
  flex-wrap: wrap;
  justify-content: start;
}

.card {
  text-align: left;
}

.card-link {
  display: block;
  transition: box-shadow var(--transition-dur-tfunc);
}

.card-data {
  padding: 32px 16px;
  border: 1px solid var(--secondary-color-btn);
  border-top: none;
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card .list-title {
  margin-bottom: 8px;
}

.list.projects .link,
.type {
  text-decoration: none;
  color: var(--main-color-text);

  letter-spacing: 0.02em;
}

.prj {
  padding: 48px 0;
}

/* Portfolio Overlay */
.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-tfunc);
  padding: 40px 32px 0;
  background-color: var(--alt-secondary-color-text);
  color: var(--third-color-text);

  overflow-y: auto;
}

.card:hover .overlay-card {
  transform: translate(0, 0);
  opacity: 1;
}

@media screen and (max-width: 420px) {
  .mobile-social-list {
    display: flex;
    justify-content: space-between;
    gap: 0;
    margin-right: 40px;
  }

  .mobile-contact-link {
    margin-right: 40px;
  }

  .mobile-contact-list {
    font-size: calc((100vw - 320px) / (430 - 320) * (36 - 20) + 20px);
  }
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }

  .modal {
    width: 408px;
  }

  .mobile-menu {
    width: 428px;
  }
}
@media screen and (max-width: 767px) {
  .nav .list,
  .contact .list {
    display: none;
  }

  .list.projects {
    gap: 48px;
  }
}
