@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }

  /* Activity */
  .activity .list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .activity .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .activity .item-text {
    width: 356px;
  }

  /* Team */
  .team .list {
    gap: 24px;
  }

  .team-personal {
    width: 264px;
  }

  /* Customers */
  .customers-item {
    flex-basis: calc((100% - 48px) / 4);
  }

  /* Footer */
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 24px;
  }

  .container-logo {
    margin-left: 92px;
  }

  .footer .text {
    width: 264px;
  }

  .container-footer-subscribe {
    margin-left: 92px;
    text-align: left;
  }

  .form-footer-subscribe {
    flex-direction: row;
    justify-content: start;
  }

  .footer-input {
    width: 264px;
  }
}
