@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-bg-tablet.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/hero-bg-tablet@2x.jpeg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }

  /* Header */
  .nav {
    display: flex;
    align-items: center;
  }

  .nav .list {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    gap: 40px;
  }

  .nav .menu {
    padding: 24px 0;
    color: var(--secondary-color-text);
    text-decoration: none;

    font-weight: 500;
  }

  .mobile-menu {
    display: none;
  }

  .contact {
    margin-left: auto;
  }

  .menu.link {
    position: relative;
  }

  .menu.current-page {
    color: var(--alt-secondary-color-btn);
  }

  .current-page::after {
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    content: '';
    width: 100%;
    height: 4px;

    background-color: var(--alt-secondary-color-btn);
    border-radius: 2px;
  }

  .contact .link {
    color: var(--main-color-text);
    text-decoration: none;

    font-style: normal;
    transition: color var(--transition-dur-tfunc);
  }

  .contact .list {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 12px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  /* Hero */

  .hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
  }

  .hero .btn {
    margin-top: 36px;
  }

  /* Activity */
  .activity .list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .activity .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .activity .item-text {
    width: 356px;
  }

  /* Team */
  .team .list {
    gap: 24px;
  }

  .team-personal {
    width: 264px;
  }

  /* Customers */
  .customers-item {
    flex-basis: calc((100% - 48px) / 4);
  }

  /* Footer */
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .container-logo {
    margin-left: 92px;
  }

  .footer .text {
    width: 264px;
  }

  .container-footer-subscribe {
    margin-left: 92px;
    text-align: left;
  }

  .form-footer-subscribe {
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
  }

  .footer-input-item {
    width: 264px;
  }

  /* Portfolio */
  /* Filter */
  .prj .list {
    justify-content: center;
    display: flex;
    gap: 24px;
  }

  .filter {
    padding: 12px 24px;
    color: var(--alt-secondary-color-text);
    background-color: var(--third-color-text);
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    /* identical to box height, or 150% */

    letter-spacing: 0.04em;
    border: 1px solid var(--secondary-color-btn);
    border-radius: 4px;

    transition: color var(--transition-dur-tfunc),
      background-color var(--transition-dur-tfunc),
      box-shadow var(--transition-dur-tfunc), border var(--transition-dur-tfunc);
  }

  .filter:hover,
  .filter:focus {
    color: var(--alt-color);
    background-color: var(--alt-secondary-color-btn);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  /* Projects */
  .list.projects {
    margin-top: 64px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: start;
  }

  .card {
    flex-basis: calc((100% - 24px) / 2);
    text-align: left;
  }

  .card-link {
    display: block;
    transition: box-shadow var(--transition-dur-tfunc);
  }

  .card-data {
    padding: 32px 16px;
    border: 1px solid var(--secondary-color-btn);
    border-top: none;
  }

  .card-wrapper {
    position: relative;
    overflow: hidden;
  }

  .card-link:hover,
  .card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .card .list-title {
    margin-bottom: 8px;
  }

  .list.projects .link,
  .type {
    text-decoration: none;
    color: var(--main-color-text);

    letter-spacing: 0.02em;
  }

  .prj {
    padding: 64px 0 109px 0;
  }

  /* Portfolio Overlay */
  .overlay-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-tfunc);
    padding: 40px 32px 0;
    background-color: var(--alt-secondary-color-text);
    color: var(--third-color-text);

    overflow-y: auto;
  }

  .card:hover .overlay-card {
    transform: translate(0, 0);
    opacity: 1;
  }
}
