@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/hero-bg-tablet.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/hero-bg-tablet@2x.jpeg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }

  /* Hero */

  .hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
  }

  .hero .btn {
    margin-top: 36px;
  }

  /* Activity */
  .activity .list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .activity .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .activity .item-text {
    width: 356px;
  }

  /* Team */
  .team .list {
    gap: 24px;
  }

  .team-personal {
    width: 264px;
  }

  /* Customers */
  .customers-item {
    flex-basis: calc((100% - 48px) / 4);
  }

  /* Footer */
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .container-logo {
    margin-left: 92px;
  }

  .footer .text {
    width: 264px;
  }

  .container-footer-subscribe {
    margin-left: 92px;
    text-align: left;
  }

  .form-footer-subscribe {
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
  }

  .footer-input-item {
    width: 264px;
  }
}
